#contact_info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
    color: rgb(64,64,64);
}
/*******************************Welcome page styling*******************************/
.welcome_page_body{
background-image: url("img/WelcomePage1.jpg");
background-attachment: fixed;
background-size: cover;

}
.welcome_page_h1{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3;
    font-size: 40px;
    text-align: center;
    color: rgb(64,64,64);;
    padding-right: 30%;
    padding-top: 10%;
}

.welcome_page_h2{
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    color: rgb(64,64,64);
    padding-right: 30%;
}

.welcome_page_nav{
    background-color: transparent;
}

/*******************************main menu navigation bar style*******************************/

ul {
    list-style-type: none;
    padding-left: 160px;
    overflow: hidden;
    background-color: rgb(179, 215, 255);
    border-radius:2px;
    width: 100%;
    margin-top:0px;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(64,64,64);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the appearance of the active link */
.act1{
    background-color: rgb(255, 153, 102);
    color: white;
}
/* Change the link color when the mouse is on it */
li a:hover {
    background-color: rgb(255, 153, 102);
    color: white;
}

#contact_info2{
      background-color: transparent;
      color: rgb(64,64,64);
      float: right;
}

.home_icon{
    background-image: url("img/home1.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 120px;
}

.home_icon:hover {
    background-image: url("img/home2.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
     background-position: center;
}


.dropmenu {
    position: fixed;
    padding-left: 0px;
    width: 130px;
    margin-top: 0px;

}

.dropmenu a{
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
}

/*******************************General styling*******************************/
h1 {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:normal;
	text-align: left;
	color: rgb(64,64,64);
	background-color: rgb(179, 215, 255);
    padding: 10px;
    margin-left: 160px;
    margin-right: 120px;
    border-radius: 2px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal;
    text-align: left;
    color: rgb(64,64,64);
    background-color: rgb(179, 215, 255);
    padding: 10px;
    margin-left: 160px;
    margin-right: 120px;
    border-radius: 2px;
}

.bodytext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	color: rgb(64,64,64);
    margin-left: 160px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*****************************Styling the images and the gallery********************************/

.ax {
    border:0px;
    width:150px;
    float: right;
    margin-right: 120px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.gallery_box{
    margin-left: 160px;
    margin-right: 120px;
    float:left;
}

.gallery{
    margin: 20px;
    float: left;
    width:200px;
    height: 250px;
    position: relative;
    border: 2px solid white;
}

.gallery:hover {
    border: 2px solid #777;
}

.gallery img {
    width: 200px;
    height: auto;
    border: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

}

.img_desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    bottom: 0;
    left: 0;
    padding:10px;
    color: rgb(64,64,64);
    position: absolute;
}

.gallery_landscape{
    margin: 20px;
    float: left;
    width:200px;
    height: 350px;
    position: relative;
    border: 2px solid white;
}

.gallery_landscape:hover {
    border: 2px solid #777;
}

.gallery_landscape img{
    width: 200px;
    height: auto;
    border: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    
}

/*******************************Styling the swatch data table***********************************/
.palette{
    margin-left: 160px;
    padding: 20px;
    width: 800px;
    background-color: transparent;
}

.palette a{
    width: 4px;
    height: 4px;
    border: 4px solid white;
}

#colordatatable{
    table-layout: fixed;
    overflow: auto;
    margin-left: 160px;
    margin-right: 120px;
    background-color: transparent;
    border-collapse: collapse;
    border: solid gray 1px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(64,64,64);
}

th {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    
}
.td1 {
    border: 1px solid gray;
    text-align: center;
    font-size: 12px;
    
}
.td2 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: none;
    border-top: none;
    border-bottom: none;
    text-align: center;
}
.td25 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: none;
    border-top: none;
    border-top: none;
    text-align: center;
}
.td3 {
    border: 1px solid gray;
}
.td4 {
    border: 1px solid gray;
    font-size: 12px;
    padding: 20px;
}


#swatchbox{
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30%;
    border-radius: 2px;
}

.grayvalue{
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: none;

}
.swatchplot{
    width: 250px;
    height: auto;
    margin-left: 30px;
}

/*******************************Styling the articles*******************************/

.article_img {
    width: 150px;
    height: 93px;
    border-radius: 10px;
}

.article_title {
    font-weight:bold;
    font-size:16px;
    line-height:1.5 ;
}

.article_author {
    text-decoration: underline;
}

.article_link {
    
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    margin-right: 25px;
}

